<div class="site">
  <header>
    <h1 class="uppercase"><span class="theme-color">J</span>ustin <span class="theme-color">Dietz</span></h1>
    <section>
      <div>
        GitHub: <a href="https://github.com/JoA-MoS">github.com/JoA-MoS</a>
      </div>
      <div>
        LinkedIn: <a href="https://linkedin.com/in/justindietz">linkedin.com/in/justindietz</a>
      </div>
    </section>
    <section>
      <div>
        Email: <a href="mailto:justin.r.dietz@gmail.com">justin.r.dietz@gmail.com</a>
      </div>
      <div>
        Phone: 509.230.4274
      </div>
    </section>
  </header>
  <main>
    <section>
      <h2 class="theme-color uppercase">Summary</h2>
      <article>
        <h3>Software Engineer, Technical Architect</h3>
        <p>Full stack Software Engineer with tech industry experience including: developer, technical architect, project manager,
          analyst, and tester. I am passionate about development, problem solving, and technology. I am looking for a position
          that lets me pursue those passions.</p>
      </article>
    </section>
    <section>
      <h2 class="theme-color uppercase">Technologies</h2>
      <h3>Languages, Software, Systems</h3>
      <p>.NET, C#, Angular, TypeScript, JavaScript, Node.js, HTML, CSS, SASS, Entity Framework, T-SQL, PowerShell, MS SQL, MySQL,
        Postgres, Azure, Amazon Web Services, AWS Lambda, Alexa Skill, Docker, Nginx, IIS, VS Code, Visual Studio, Git, Visual
        Studio Team Services, SharePoint, NPM, Yarn, Nuget, PIP</p>
    </section>
    <section>
      <h2 class="theme-color uppercase">Experience</h2>
      <article>
        <h3>Full Stack Developer</h3>
        <div>
          <h4>Coding Dojo</h4>
          <div>Bellevue, WA</div>
          <div>
            <time datetime="2017-6">Jun 2017</time> -
            <time datetime="2017-9">Sep 2017</time>
          </div>
          <div><a href="http://codingdojo.com">codingdojo.com</a></div>
        </div>
        <div>
          <p>
            Completed projects under a tight deadline meeting 100% of all feature requirements for each project. Each project was developed
            and deployed to an EC2 ubuntu instance in under 5 hours.
          </p>
          <ul>
            <li><strong><em>Trivia</em></strong> - Angular UI, RESTful API (Node.js, Express.js), MongoDB (Mongoose), Bootstrap,
              application that users to login create questions and can take a quiz of 3 randomly selected questions. <a href="https://github.com/JoA-MoS/MEAN-Trivia-API">github.com/JoA-MoS/MEAN-Trivia-API</a>,
              <a href="https://github.com/JoA-MoS/MEAN-Trivia-UI">github.com/JoA-MoS/MEAN-Trivia-UI</a>
            </li>
            <li><strong><em>Poll System</em></strong> - Angular UI, RESTful API (Node.js, Express.js), MongoDB (Mongoose), Bootstrap,
              application that allows users to login manage and answer polls. <a href="https://github.com/JoA-MoS/MEAN-Polls-API">github.com/JoA-MoS/MEAN-Polls-API</a>,
              <a href="https://github.com/JoA-MoS/MEAN-Polls-UI">github.com/JoA-MoS/MEAN-Polls-UI</a></li>
            <li><strong><em>Auctions</em></strong> – C#, Razor, Bootstrap, EF code first application using MySQL that allows
              users to register/login and bid on or create items for auctions. Auction expires and withdraws funds from the
              winner at the time of expiration. <a href="https://github.com/JoA-MoS/csharp-Auctions">github.com/JoA-MoS/csharp-Auctions</a>
            </li>
            <li><strong><em>Social Trip Planner</em></strong> - Python, Django, MySQL code first application that allows users
              register/login to manage trips and view and join other trips. <a href="https://github.com/JoA-MoS/python-Trips">github.com/JoA-MoS/python-Trips</a></li>
          </ul>
        </div>
      </article>
      <article>
        <h3>Program Manager/Technical Architect/Developer</h3>
        <div>
          <h4>University of Washington CoMotion</h4>
          <div>Seattle, WA</div>
          <div>Nov 2014 - July 2017</div>
          <div><a href="http://comotion.uw.edu">comotion.uw.edu</a></div>
        </div>
        <div>
          <p>
            Managed development team and external contractors in fulfilling new feature requests and bug fixes. Responsible for all CoMotion’s
            IT hardware, systems, and support.
          </p>
          <ul>
            <li><strong><em>Development:</em></strong> Created, Maintained, and Enhanced C# webservice, C# Windows Forms, Angular
              Application, SQL-CLR functions, and Ruby and Rails solutions. Defined Development standards and frameworks
              for new applications.</li>
            <li><strong><em>Implemented:</em></strong> Project Management System using Visual Studio Team Services (VSTS). Continuous
              Integration and Continuous Deployment from VSTS to on premise systems, Customized SharePoint Intranet. Mentor
              Matching System using Chronus.</li>
            <li><strong><em>Architected:</em></strong> Online form for users to interact with the CoMotion Office using Angular
              front end, a C# webservice backend, and a C# client for processing and reviewing submittals before transferring
              to official backend. Designed, Developed, and modified Angular UI, C# webservice.</li>
          </ul>
        </div>
      </article>
      <article>
        <h3>Manager</h3>
        <div>
          <h4>Accenture</h4>
          <div>Seattle, WA</div>
          <div>2007 – 2014</div>
          <div><a href="http://accenture.com">accenture.com</a></div>
          <p></p>
        </div>
      </article>
      <article>
        <h3>Diagnostics Tool Engineer</h3>
        <div>
          <h4>National Financial Services Company</h4>
          <div>Charlotte, NC</div>
          <div>Jun 2009 - Jul 2009</div>
          <div><a href="http://accenture.com">accenture.com</a></div>
        </div>
        <div>
          <p>
            Responsible for creating, customizing, configuring, supporting, and executing a set of tools enabling the reverse engineering
            of an existing, poorly documented 3rd party bill payment system purchased by the Financial Company, to bring
            the existing code-base in house for maintenance and enhancements.
          </p>
          <ul>
            <li><strong><em>Development/Architecture:</em></strong> Determine approach to analyze the source code; Develop necessary
              tools to facilitate analysis and reporting.</li>
          </ul>
        </div>
      </article>
      <article>
        <h3>Technical Architect/Configuration Manager</h3>
        <div>
          <h4>National Health Insurance Company</h4>
          <div>Seattle, WA</div>
          <div>2009 - 2010</div>
          <div><a href="http://accenture.com">accenture.com</a></div>
        </div>
        <div>
          <p>
            Develop and Maintain Processes and Tools to improve the efficiency of code and data migration between environments. Created
            and maintained cloud Amazon EC2 development and test environments.
          </p>
          <ul>
            <li><strong><em>Development, Migration, and Deployment:</em></strong> Created custom .NET application to improve
              efficiency for merging Siebel code, integrate Siebel Tools with Team Foundation Server, and maintained and
              improved Excel VBA macro's to migrate reference data between environments. Created deployment plans to facilitate
              the repeatable deployment of the solutions. Created and maintained Amazon EC2 images.</li>
          </ul>
        </div>
      </article>
      <article>
        <h3>.NET on Linux Researcher</h3>
        <div>
          <h4>Accenture</h4>
          <div>Seattle, WA</div>
          <div>Jun 2009 - Jul 2009</div>
          <div><a href="http://accenture.com">accenture.com</a></div>
        </div>
        <div>
          <p>
            Research the impacts and document the process of porting .NET application to the Linux platform using the Mono Framework
          </p>
          <ul>
            <li><strong><em>Development:</em></strong> Install and configure Linux, web servers, and database systems. Determine
              applications to port and make any necessary programming changes required to support the Linux Platform.
            </li>
            <li><strong><em>Communication:</em></strong> Prepared and facilitated weekly status updates; tracked issues, risks;
              created / maintained project schedule. Determine statistics to measure performance changes and document findings
              in a Whitepaper to be consumed by Accenture executives.
            </li>
          </ul>
        </div>
      </article>
      <article>
        <h3>Legacy Reverse Engineering Specialist</h3>
        <div>
          <h4>Multinational oil and gas corporation</h4>
          <div>Houston, TX</div>
          <div>Jan 2009 - Apr 2009</div>
          <div><a href="http://accenture.com">accenture.com</a></div>
        </div>
        <div>
          <p>
            Lead team in the development and customization of reverse engineering tools for Fortran and VBA to provide a static and dynamic
            analysis of the applications for estimation of complexity in migration from mainframe Legacy language to Client
            Server .NET infrastructure.
          </p>
          <ul>
            <li><strong><em>Development:</em></strong> Developed excel workbook complexity analysis tool in C# and VBA. Customized
              existing C#, VB.NET, and VBA reverse engineering and analysis tools to meet project’s needs.
            </li>
            <li><strong><em>Management:</em></strong> Lead development team to create and customize analysis tools. Lead analysis
              team in use of analysis tools. Created bottom up estimate using Avanade Estimating Model and analysis. Presented
              results of analysis team and estimate to client leadership.
            </li>
            <li><strong><em>Solution Analyst:</em></strong> Create and maintain deployment guides to facilitate the repeatable
              deployment of solutions into testing and production environments.
            </li>
          </ul>
        </div>
      </article>
      <article>
        <h3>Project Manager/Tester/Developer</h3>
        <div>
          <h4>Multinational leader in software and hardware</h4>
          <div>Redmond, WA</div>
          <div>2007 - 2008</div>
          <div><a href="http://accenture.com">accenture.com</a></div>
        </div>
        <div>
          <p>
            Project Manager for numerous short projects within Integration Center of Excellence. Facilitated and participated in interdepartmental
            communications to support development, testing, and deployment. Supported the Development, Test, and Deployment
            of BizTalk Solutions integrating MIO/Siebel, company vendor information/vendor provider, company customs information/logistics
            company.
          </p>
          <ul>
            <li><strong><em>Development:</em></strong> Guide developers towards correct solution architecture. Completed development
              of specific aspects including: Tool to managed MSMQs, BizTalk Pipeline Component to extract details from the
              filename and store to tracking database using Regular Expressions, and Modified BizTalk Pipeline Component
              used by almost all messaging going through the organizations integration center of excellence.
            </li>
            <li><strong><em>Deployment:</em></strong> Create and maintain deployment guides to facilitate the repeatable deployment
              of solutions into testing and production environments.
            </li>
          </ul>
        </div>
      </article>
    </section>
    <section>
      <h2 class="theme-color uppercase">Education</h2>
      <article>
        <h3>Triple Black Belt (C#, MEAN, Python)</h3>
        <div>
          <h4>Coding Dojo Bootcamp</h4>
          <div>Bellevue, WA</div>
          <div><a href="http://codingdojo.com">codingdojo.com</a></div>
        </div>
        <div>
          <p>
            Coding Dojo is an intensive full stack Bootcamp where you learn 3 full stacks in 14 weeks. C# (Razor, .NET, Entity Framework,
            MySQL, Postgres), MEAN (MongoDB, Express, Angular, Node), Python (MySQL, Flask, Django). Tested in the highest
            level (95% or higher) on all exams HTML/CSS/JavaScript Yellow Belt, Python Black Belt, C# Black Belt, MEAN Black
            Belt. Green Belt for best hackathon project (C# deck of cards).
          </p>
          <p>Projects:</p>
          <ul>
            <li>
              Chore Board (Angular UI, Alexa Skill (JavaScript), C# RESTful webservice (<a href="https://github.com/JoA-MoS/ChoreBoard">github.com/JoA-MoS/ChoreBoard</a>)
            </li>
            <li>
              C# Console Based Uno Game (<a href="https://github.com/JoA-MoS/csharp-DeckOfCards">github.com/JoA-MoS/csharp-DeckOfCards</a>)
            </li>
          </ul>
        </div>
      </article>
      <article>
        <h3>Bachelor of Arts in Business Administration</h3>
        <div>
          <h4>Washington State University</h4>
          <div>Pullman, WA</div>
          <div><a href="http://wsu.edu">wsu.edu</a></div>
        </div>
        <div>
          <p>
            Management Information Systems
          </p>
        </div>
      </article>
    </section>
  </main>

</div>
