
.site{
    max-width: 90%;
    margin: auto;
    margin-top: 20px;
    // display: grid;
    // grid-template-columns: auto;
    // grid-template-rows: auto auto;
    // grid-template-areas: 
    //     "header"
    //     "main"
}


.uppercase{
    text-transform: uppercase;
}

.theme-color{
    color: rgb(31, 73, 125);
}

section h2{
    margin-bottom: 5px;
}

section h3{
    margin-top: 0;
    margin-bottom: 5px;
}

section h4{
    margin-top: 0;
    margin-bottom: 5px;
}



@media screen and (min-width: 855px) {
    .header{
        grid-area: header;
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;
        grid-template-rows: auto;
        /* grid-gap: 3px 3px; */
        grid-template-areas: 
            "name links contact";
        border-bottom: 3px solid black;
    }

    .name{
        grid-area: name;
        padding-left: 10px;
        min-width: 236px;

    }

    .contact-links{
        grid-area: links;
        text-align: right;
        border-left: 3px solid black;
        padding-right: 10px;
        min-width: 260px;
    }

    .contact-info{
        grid-area: contact;
        text-align: right;
        border-left: 3px solid black;
        padding-right: 10px;
        min-width: 240px;
    }

    .main{
        grid-area: main;
    }


    .section-grid{
        display: grid;
        grid-template-columns: 150px auto;
        grid-template-rows: auto auto;
        grid-column-gap: 10px;
        grid-template-areas: 
            "section-title empty"
            "content content"

    }

    .two-column{
        display: grid;
        grid-template-columns: 150px auto;
        grid-template-rows: auto;
        grid-column-gap: 10px;
        grid-template-areas: 
            "subsection content"

    }

    .section-title{
        grid-area: section-title;
        border-right: 3px solid black;
    }

    .subsection{
        grid-area: subsection;
        text-align: right;
    }

    .content{
        grid-area: content;
    }
}
